<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<title>infoV2</title>
	<link rel="stylesheet" href="./ActivityInfo.css">


</head>

<body>

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-4 mt-5">
				<h1 class="text-center fs-4">開始建立活動資訊！</h1>
			</div>
		</div>
	</div>
	<div id="ActivityInfo" class="container align-content-center">
		<input type="hidden" name="ActivityDraftId" value='@ViewData["ActivityDraftId"]' />
		<div class="row justify-content-center">
			<div class="col-6 col-lg-3 mb-3 text-center">
				<div class="card bg-dark imgBtn">
					<img class="card-img showImg" src="@Model.Image">
					<div class="card-img-overlay p-0">
						<input id="actImg" type='file' class="h-100 w-100" accept="image/png, image/jpeg">
					</div>
				</div>
				<div class=" form-text m-0 mt-2">
					上傳活動照片
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-6">
				<div class="mb-3 text-center">
					<h2 class="form-label d-block">主辦單位名稱</h2>
					<h3 id="orgName">@ViewData["OrgName"].ToString()</h3>
				</div>
				<div class="mb-3">
					<label for="activityName" class="form-label star">活動名稱</label>
					<input type="text" class="form-control" id="activityName" name="activityName" value="@Model.ActivityName"
						v-model="name">
					<span class="text-danger">{{InfoCheck.NameErMsg}}</span>
				</div>
				<div class="mb-3">
					<div class="row">
						<label class="form-label star">活動時間</label>
					</div>
					<div class="row">
						<label for="activityStartDate" class="form-text">開始時間</label>
						<div class="col-sm">
							<input type="date" class="form-control" id="activityStartDate" name="activityStartDate"
								value="@Model.StartDate" v-model="StartDate">
						</div>
						<div class="col-sm">
							<input type="time" class="form-control" id="activityStartTime" name="activityStartTime"
								value="@Model.StartTime" v-model="StartTime">
						</div>
					</div>
					<div class="row mb-3">
						<label for="activityEndDate" class="form-text">結束時間</label>
						<div class="col-sm ">
							<input type="date" class="form-control" id="activityEndDate" name="activityEndDate" value="@Model.EndDate"
								v-model="EndDate">
							<span class="text-danger">{{InfoCheck.DateErMsg}}</span>
						</div>
						<div class="col-sm ">
							<input type="time" class="form-control" id="activityEndTime" name="activityEndTime" value="@Model.EndTime"
								v-model="EndTime">
							<span class="text-danger">{{InfoCheck.TimeErMsg}}</span>
						</div>

					</div>
					<div class="mb-3 ">
						<label for="activityTag" class="form-label">活動標籤</label>
						<div class="form-text m-0">為活動設定標籤讓使用者更容易找到你，上限五個。</div>
						<label class=" w-100 p-2 align-items-center border border-1 border-secondary" for="activityTag">
							<span class="align-items-center justify-content-between">
								<span id="tagInput" class="row">
									@foreach (var tag in Model.Tag)
									{
									<span class="visually-hidden" id="hiddenSpan">@tag</span>
									}
									<input type="text" class=" border-0 col-2" id="activityTag" name="activityTag" maxlength="20">
								</span>
							</span>
						</label>
					</div>
					<div class="mb-3">
						<label for="ActivityRefWebUrl" class="form-label">參考網站</label>
						<input type="url" class="form-control" id="ActivityRefWebUrl" placeholder="https://www.google.com.tw/"
							v-model="ActivityRefWebUrl" name="ActivityRefWebUrl" value="@Model.ActivityRefWebUrl">
						<span class="text-danger">{{InfoCheck.RefWebUrlErMsg}}</span>

						<div class="form-text m-0">加上參考網站如 Facebook 或 Instagram，讓使用者更認識你</div>
						<input type="text" class="form-control mb-2" id="RefWebDescription" placeholder="參考網站描述，20字內" maxlength="20"
							name="RefWebDescription" value="@Model.RefWebDescription">
					</div>
					<div class="mb-3">
						<label for="activityform" class="form-label star">活動形式</label>
						<input class="btn btn-primary w-100 d-block" v-model="typeBtnMsg" v-on:click="typeBtn" readonly></input>
					</div>
				</div>
				<div v-if="!isOnline" class="col-12">
					<div class=" offlineCard" id="offline">
						<div class="card card-body">
							<div class="row mb-3">
								<div class="col-6">
									<span id="spanCity" class="visually-hidden">@Model.City</span>
									<select id="citySelect" class="form-select" aria-label="Default select example" v-model="City"
										name="citySelect"></select>
									<span class="text-danger">{{InfoCheck.CityErMsg}}</span>
								</div>
								<div class="col-6">
									<span id="spanDistrict" class="visually-hidden">@Model.District</span>
									<select id="districtSelect" class="form-select" aria-label="Default select example" v-model="District"
										name="districtSelect"></select>
									<span class="text-danger">{{InfoCheck.DistrictErMsg}}</span>
								</div>
							</div>
							<div class="form-text m-0">詳細地址 </div>
							<input type="text" class="form-control" id="Address" name="Address" v-model="Address"
								value="@Model.Address">
							<span class="text-danger">{{InfoCheck.AddressErMsg}}</span>
							<div class="form-text m-0">補充說明 </div>
							<input type="text" class="form-control mb-2" id="AddressDetail" name="AddressDetail"
								value="@Model.AddressDetail">
						</div>
					</div>
				</div>
				<div v-else class="col-12">
					<div class=" onlineCard" id="online">
						<div class="card card-body">
							<div class="mb-3">
								<label for="StreamingWeb" class="form-label">嵌入 Youtube 影片連結</label>
								<input type="url" class="form-control mb-2" id="StreamingWeb" placeholder="請輸入 Youtube 直播網址"
									v-model="StreamingWeb" name="StreamingWeb" value="@Model.StreamingWeb">
								<span class="text-danger">{{InfoCheck.StreamingWebErMsg}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button id="sumBtn" :disabled="!allOKBtn" type="submit" class="btn bg-light w-100">下一步</button>
		</div>
	</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="./CitySelectSystem.js"></script>

	<script>
		const activityName = document.querySelector('#activityName'),
			activityStartDate = document.querySelector('#activityStartDate'),
			activityStartTime = document.querySelector('#activityStartTime'),
			activityEndDate = document.querySelector('#activityEndDate'),
			activityEndTime = document.querySelector('#activityEndTime'),
			activityTag = document.querySelector('#activityTag'),
			activityShortURL = document.querySelector('#activityShortURL'),
			ActivityRefWebUrl = document.querySelector('#ActivityRefWebUrl'),
			RefWebDescription = document.querySelector('#RefWebDescription'),
			citySelect = document.querySelector('#citySelect'),
			districtSelect = document.querySelector('#districtSelect'),
			offline = document.querySelector('#offline'),
			online = document.querySelector('#online'),
			StreamingWeb = document.querySelector('#StreamingWeb'),
			Address = document.querySelector('#Address'),
			AddressDetail = document.querySelector('#AddressDetail')
		const submitBtn = document.querySelector('#sumBtn')
		let tagInput = document.querySelector('#tagInput')
		let TagArray = []
		let ActivityInfo = {}
		activityTag.addEventListener("keyup", function (event) {
			if (event.keyCode === 13) {
				let inputString = activityTag.value.trim()
				if (inputString != '') {
					CreateSpan(inputString)
				}
				activityTag.value = ''
				inputString = ''
			}
		})
		function CreateSpan(string) {
			let span = document.createElement('span')
			let btn = document.createElement('button')
			span.innerText = string
			span.classList.add('btn', 'btn-info', 'mx-2')
			span.setAttribute('id', 'spanInput')
			btn.classList.add('btn-close')
			btn.classList.add('p-2')
			btn.setAttribute('aria-label', 'Close')
			span.append(btn)
			tagInput.append(span)
			span.addEventListener('click', function () {
				TagArray.splice(TagArray.indexOf(this.innerText), 1)
				span = tagInput.removeChild(this)
				CheckTagArray()
			})
			TagArray.push(`${string.toString()}`)
			CheckTagArray()
		}
		function CheckTagArray() {
			if (TagArray.length == 5) {
				activityTag.disabled = true
				activityTag.classList.add('visually-hidden')
			} else {
				activityTag.disabled = false
				activityTag.classList.remove('visually-hidden')
			}
		}
		function GatObject() {
			return {
				"ActivityDraftId": 1,
				"ActivityName": activityName.value,
				"Image": "https://i.imgur.com/JmwfFko.png",
				"StartDate": activityStartDate.value,
				"StartTime": activityStartTime.value,
				"EndDate": activityEndDate.value,
				"EndTime": activityEndTime.value,
				"Tag": TagArray,
				"ActivityRefWebUrl": ActivityRefWebUrl.value,
				"RefWebDescription": RefWebDescription.value,
				"City": citySelect.value,
				"District": districtSelect.value,
				"Address": Address.value,
				"AddressDetail": AddressDetail.value,
				"StreamingWeb": StreamingWeb.value,
			}
		}
	</script>
	<script>
		let ActivityInfoCheck = new Vue({
			el: '#ActivityInfo',
			data: {
				name: '', //活動名稱
				Image: '', //圖片
				StartDate: new Date().toISOString().split('T')[0], //開始日期
				StartTime: `${new Date().getHours()}:${String(new Date().getMinutes() + 1).padStart(2, '0')}`, //開始時間
				EndDate: '', //結束日期
				EndTime: '', //結束時間
				ActivityRefWebUrl: '', //活動參考網址
				City: '', //城市
				District: '', //區域
				Address: '', //地址
				AddressDetail: '', //地址補充說明
				StreamingWeb: '', //直播網址
				StartDateTime: '',
				EndDateTime: '',
				InfoCheck: {
					NameEr: false,
					NameErMsg: '',
					ImageEr: false,
					ImageErMsg: '',
					DateEr: false,
					TimeEr: false,
					DateErMsg: '',
					TimeErMsg: '',
					RefWebUrlEr: false,
					RefWebUrlErMsg: '',
					CityEr: false,
					CityErMsg: '',
					DistrictEr: false,
					DistrictErMsg: '',
					AddressEr: false,
					AddressErMsg: '',
					AddressDetailEr: false,
					AddressDetailErMsg: '',
					StreamingWebEr: false,
					StreamingWebErMsg: '',
				},
				allOKBtn: false,
				isOnline: false,
				typeBtnMsg: '線下活動',
			},
			watch: {
				name: {
					immediate: true,
					handler() {
						if (this.name == '') {
							this.InfoCheck.NameEr = true
							this.InfoCheck.NameErMsg = '不可為空'
						} else {
							this.InfoCheck.NameEr = false
							this.InfoCheck.NameErMsg = ''
						}
						this.checkVerify()
					}
				},
				StartDate: {
					immediate: true,
					handler() {
						this.timeCheck()
					}
				},
				StartTime: {
					immediate: true,
					handler() {
						this.timeCheck()
					}
				},
				EndDate: {
					immediate: true,
					handler() {
						this.timeCheck()
					}
				},
				EndTime: {
					immediate: true,
					handler() {
						this.timeCheck()
					}
				},
				ActivityRefWebUrl: {
					immediate: true,
					handler() {
						let regex = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/
						if (this.ActivityRefWebUrl == '') {
							this.InfoCheck.RefWebUrlEr = false
							this.InfoCheck.RefWebUrlErMsg = ''
						} else if (!regex.test(this.ActivityRefWebUrl)) {
							this.InfoCheck.RefWebUrlEr = true
							this.InfoCheck.RefWebUrlErMsg = '網址格式不正確'
						} else {
							this.InfoCheck.RefWebUrlEr = false
							this.InfoCheck.RefWebUrlErMsg = ''
						}
						this.checkVerify()
					}
				},
				City: {
					immediate: true,
					handler() {
						if (!this.isOnline) {
							if (this.City == '') {
								this.InfoCheck.CityEr = true
								this.InfoCheck.CityErMsg = '必填'
							} else {
								this.InfoCheck.CityEr = false
								this.InfoCheck.CityErMsg = ''
							}
							this.checkVerify()
						}
					}
				},
				District: {
					immediate: true,
					handler() {
						if (!this.isOnline) {
							if (this.District == '') {
								this.InfoCheck.DistrictEr = true
								this.InfoCheck.DistrictErMsg = '必填'
							} else {
								this.InfoCheck.DistrictEr = false
								this.InfoCheck.DistrictErMsg = ''
							}
							this.checkVerify()
						}
					}
				},
				Address: {
					immediate: true,
					handler() {
						if (!this.isOnline) {
							if (this.Address == '') {
								this.InfoCheck.AddressEr = true
								this.InfoCheck.AddressErMsg = '必填'
							} else {
								this.InfoCheck.AddressEr = false
								this.InfoCheck.AddressErMsg = ''
							}
							this.checkVerify()
						}
					}
				},
				StreamingWeb: {
					immediate: true,
					handler() {
						if (this.isOnline) {
							let regex = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/
							if (this.StreamingWeb == '') {
								this.InfoCheck.StreamingWebEr = true
								this.InfoCheck.StreamingWebErMsg = '必填'
							} else if (!regex.test(this.StreamingWeb)) {
								this.InfoCheck.StreamingWebEr = true
								this.InfoCheck.StreamingWebErMsg = '網址格式不正確'
							} else {
								this.InfoCheck.StreamingWebEr = false
								this.InfoCheck.StreamingWebErMsg = ''
							}
							this.checkVerify()
						}

					}
				},
			},
			methods: {
				timeCheck: function () {
					let today = new Date().toISOString()
					this.StartDateTime = new Date(`${this.StartDate} ${this.StartTime}`)
					this.EndDateTime = new Date(`${this.EndDate} ${this.EndTime}`)
					// if()
					if (this.StartDate == '' || this.StartTime == '' || this.EndDate == '' || this.EndTime == '') {
						this.InfoCheck.DateEr = true
						this.InfoCheck.DateErMsg = '日期時間不可為空'
					} else if (this.StartDateTime == this.EndDateTime || this.StartDateTime > this.EndDateTime || this.StartTime == this.EndTime) {
						this.InfoCheck.DateEr = true
						this.InfoCheck.DateErMsg = '結束時間不能小於開始時間'
					} else {
						this.InfoCheck.DateEr = false
						this.InfoCheck.DateErMsg = ''
					}
					this.checkVerify()
				},
				checkVerify() {
					for (let prop in this.inputDataCheck) {
						if (this.inputDataCheck[prop] == true) {
							this.allOKBtn = false
							return
						}
						this.allOKBtn = true
					}
				},
				typeBtn() {
					if (this.isOnline) {
						this.typeBtnMsg = '線下活動'
						this.InfoCheck.StreamingWebEr = false
						this.InfoCheck.StreamingWebErMsg = ''
						this.InfoCheck.CityEr = true
						this.InfoCheck.CityErMsg = '必填'
						this.InfoCheck.DistrictEr = true
						this.InfoCheck.DistrictErMsg = '必填'
						this.InfoCheck.AddressEr = true
						this.InfoCheck.AddressErMsg = '必填'
					} else {
						this.typeBtnMsg = '線上活動'
						this.InfoCheck.StreamingWebEr = true
						this.InfoCheck.StreamingWebErMsg = '必填'
						this.InfoCheck.CityEr = false
						this.InfoCheck.CityErMsg = ''
						this.InfoCheck.DistrictEr = false
						this.InfoCheck.DistrictErMsg = ''
						this.InfoCheck.AddressEr = false
						this.InfoCheck.AddressErMsg = ''
					}
					this.isOnline = !this.isOnline
				}
			},
		})

	</script>
</body>

</html>