.ticket-nav {
    .nav-link{
        font-size: 15px;
    }
    
}

.ticket-main{
    border:1px solid #dee2e6;
    border-left: 10px solid blue;
}

.ticket table{
    border:1px solid #dee2e6;
    border-left: 10px solid gray;
    i{
        cursor: pointer;
    }
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}