$bg-color: #F8FBFF;

.pic{
  img{
    width: 100px;
    height: auto;
  }
}

.comfirm{
  height: 5%;
}

.address{
  justify-content: space-between;
  select{
  width: 49%;
  }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  .pic{
    img{
      width: 150px;
      height: auto;
    }
  }

  .comfirm{
    position: static;
    height: 40px;
    button,input{
      border-radius: 5px;
    }
  }

  .address{
    justify-content: flex-start;
  }
}



